{% extends 'base.html.twig' %}

{% block title %}Tous les évènements {% endblock %}

{% block body %}
<section class="intro">

<h1>Tous les évènements</h1>
    </section>


    <table class="table">
        <thead>
            <tr>

                <th>Titre</th>
                <th>Description</th>
                <th>Date</th>
                <th>Lieu</th>
            </tr>
        </thead>
        <tbody>
        {% for evenement in evenements %}
            <tr>

                <td>{{ evenement.titre }}</td>
                <td>{{ evenement.description }}</td>
                <td>{{ evenement.date ? evenement.Date|date('Y-m-d H:i:s') : '' }}</td>
                <td>{{ evenement.lieu }}</td>
                <td>
                    <a href="{{ path('app_evenement_show', {'id': evenement.id}) }}">show</a>
                    <a href="{{ path('app_evenement_edit', {'id': evenement.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="7">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_evenement_new') }}">Create new</a>
{% endblock %}
