{% extends 'base.html.twig' %}

{% block title %}Evenement{% endblock %}

{% block body %}
    <section class="intro">
    <h1>Evenement</h1>
    </section>

    <table class="table">
        <tbody>
            <tr>
                <th>Titre</th>
                <td>{{ evenement.Titre }}</td>
            </tr>
            <tr>
                <th>Description</th>
                <td>{{ evenement.Description }}</td>
            </tr>
            <tr>
                <th>Date</th>
                <td>{{ evenement.Date ? evenement.Date|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
            <tr>
                <th>Lieu</th>
                <td>{{ evenement.Lieu }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_evenement_index') }}">back to list</a>

    <a href="{{ path('app_evenement_edit', {'id': evenement.id}) }}">edit</a>

    {{ include('evenement/_delete_form.html.twig') }}
{% endblock %}
