{% extends 'base.html.twig' %}

{% block title %}Utilisateur{% endblock %}

{% block body %}
    <h1>Utilisateur</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ utilisateur.id }}</td>
            </tr>
            <tr>
                <th>Name</th>
                <td>{{ utilisateur.name }}</td>
            </tr>
            <tr>
                <th>Email</th>
                <td>{{ utilisateur.Email }}</td>
            </tr>
            <tr>
                <th>MotDePasse</th>
                <td>{{ utilisateur.MotDePasse }}</td>
            </tr>
            <tr>
                <th>Role</th>
                <td>{{ utilisateur.Role }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_utilisateur_index') }}">back to list</a>

    <a href="{{ path('app_utilisateur_edit', {'id': utilisateur.id}) }}">edit</a>

    {{ include('utilisateur/_delete_form.html.twig') }}
{% endblock %}
