<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Welcome!{% endblock %}</title>


    <link rel="icon" href="{{ asset('image/logoBOOK.png') }}">

    {% block stylesheets %}
        {{ encore_entry_link_tags('app') }}
    {% endblock %}
    {% block javascripts %}
        {{ encore_entry_script_tags('app') }}
    {% endblock %}
</head>
<body>
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="{{ path('app_home') }}">
        <img src="{{ asset('image/logoBOOK.png') }}" width="100" height="100" class="d-inline-block align-top" alt="Logo Book My Event">
    </a>
    <div class=" navbar-collapse" id="navbarNav">
        <a class="nav-link" href="{{ path('app_evenement_new') }}">Crée ton évènement</a>
        <a class="nav-link" href="{{ path('app_evenement_index') }}">Voir les évènemets</a>
        <a class="navbar_links" href="{{ path('app_register') }}">Inscription</a>
        <a href="{{ path('app_login') }}" class="navbar_links"> Connexion </a>
    </div>
</nav>
{% block body %}{% endblock %}
</body>
</html>
